[flake8]

indent-size = 4
show-source = True
max-line-length = 119

exclude =
    .git,
    .idea,
    .vscode,
    venv,
    .venv,
    env,
    .env,
    __pycache__,
    .gitignore,
    *.py[co],
    *.pyc,

filename =
    *.py
